.homeDesign {

    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(
            200px,
            1fr
        )
    );
    
    height: 90vh;
    width: 100vw;
    font-family: 'Martian Mono', monospace;
    font-size: smaller;
    text-align: center;
    background-image: url(src/pages/Home/abstract-style-glowing-background_52683-45136.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
    
    
}

.rosterDesign {

  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    
    font-family: 'Martian Mono', monospace;
    font-size: smaller;
    text-align: center;

}


.loadingGif {

        border: 10px solid rgba(215, 12, 212, 0.466);
        width: 90px;
        height: 90px;
        border-radius: 50%;
        border-left-color: #09f;
        animation: spin 1s ease infinite;
      }
      
      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
      
        100% {
          transform: rotate(360deg);
        }
      
}