
.cardSerieDesign {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 14em;
    width: 10em;
    color: white;
    border-radius: 1em;
    margin: 0.5em;

    /*background-image: url(src/common/CardSerie/abstract-style-glowing-background_52683-45136.jpeg);*/
    background-repeat: no-repeat;
    background-size:cover;
    transition: background-image .5s;
    
    
}
.cardSerieDesign:hover {
    background-image:url(src/pages/Home/abstract-neon-lights-background_52683-45683.jpeg);
}


.posterDesign {
    
    border-radius: 1em;
}